* {
    margin: 0px;
    padding: 0px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}

.inside_main {
    margin-top: 50px;
    padding: 50px;
    width: 500px;
    background-color: #fff;
    box-shadow: 10px 10px 8px 10px #a7a5a5;
    border-radius: 6px;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


@media screen and (max-width:560px) {

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;

    }

    .inside_main {
        margin: 35px;
        padding: 30px;
        width: 500px;
        background-color: #fff;
        box-shadow: 10px 10px 8px 10px #a7a5a5;
        border-radius: 6px;
    }

    .sub {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .error {
        color: red;
        font-size: 12px;
    }
}