form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  margin: 10px auto;
  max-width: 1000px;
  padding: 20px;
  text-align: center;

}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
}

input[type="submit"] {
  background-color: #2b6777;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2b6777;
}
table{
      
      margin:auto;
    }
  
 .display-box{
      margin:10px;
      padding:10px;
     
      background-color:#2b6777;
      border-radius:10px;
    }